* {
    margin: 0;
    padding: 0;
}

body {
    background-color: mistyrose;

    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal; */
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;

    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 50px;
    padding: 10px;
}

.container {
    width: 500px;
    height: 620px;
    background-color:lightgray;
    border-radius: 10px;
    border: 1px black solid;
    margin: 150px 40px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; */
    width: 440px;
    height: 100px;
    background-color: darkgray;
    border: 1px black solid;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 5px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
}

.output {
    height: 60%;
    padding-right: 10px;
}

.output2 {
    height: 40%;
    font-size: 48px;
    padding-right: 10px;
}

.bottom {
    width: 440px;
    height: 400px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    grid-gap: 1em;
    background-color: darkgrey;
    width: 440px;
    height: 400px;
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

button {
    width: 90px;
    height: 55px;
    margin-top: 10px;
    border-radius: 5px;
}

.num, .decimal {
    background-color: bisque;
}

.operator, .equals {
    background-color: antiquewhite;
}

.delete {
    background-color: rgb(250, 173, 242);
}

.clear {
    background-color: rgb(240, 107, 107);
}

.extra_class {
    height: 200px;
    padding: 10px;
    padding-bottom: 40px;
}

.footer {
    height: 40px;
    margin-top: -40px;
}